
Web/hw2/bot/__pycache__/AddressBook.cpython-310.pyc
Web/hw2/bot/__pycache__/file_parser.cpython-310.pyc
Web/hw2/bot/__pycache__/Notes.cpython-310.pyc
Web/hw2/bot/__pycache__/Sorter.cpython-310.pyc
Web/hw2/some_db.db
*.xml
*.pyc
Web/hw8/.idea/hw8.iml
*.iml
Web/Python_web_project_team1/
