{% extends "finance/base.html" %}

{% block content %}

    {% if error %}
    <div>
        <mark>{{ error }}</mark>
    </div>
    {% endif %}
    <form method="POST" action="{% url 'expense' %}">
        {% csrf_token %}
        <div style="padding: 10px">
            <label>Date:
                <input type="date" name="created" required/>
            </label>
        </div>
        <div style="padding: 10px">
            <label
            >Expense amount:
                <input type="number" name="sum" required/>
            </label>
        </div>
        <div style="padding: 10px">
            <label
            >Expense description/ store name:
                <input type="text" name="description">
            </label>
        </div>
        <div style="padding: 10px">
            <label
            >Select Category:
                <select name="category" required>
                    {% for cat in categories %}
                    <option value="{{cat.id}}">{{cat.name}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="grid">
            <button type="submit">Submit</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
    </form>
{% endblock %}