<!DOCTYPE html>
 <html>
 <head>
   <title>Delete Record</title>
	 
	<style type="text/css">
   h3{
	
	 text-align:center;
	  }
   h3{
	   color:orange;
	  padding:3%;
	  background-color: black;
	  }
	
   head,body{
	  background-color:#F9B5A7;
	  margin:3%;
	  }
   form{text-align:center;
	 font-size:30px;
		   }
   input{padding:8px;}

  </style>
 </head>
 <body>
   <h3>Remove Contact from the list</h3>
 <form action="/deleterecord" method="post">   
 Contact Sno <input type="number" name="sno">
 <input type="submit" value="Submit">
 </form>
 </body>
 </html> 