<!DOCTYPE html>
 <html>
 <head>
 <title>Home</title>
  <style type="text/css">
   h2,h4{
	
	 text-align:center;
	  }
   h2{
	   color:orange;
	  padding:3%;
	  background-color: black;
	  }
	  
   ol{
	  text-align:center;
	  }
	  head,body{
	  background-color:#F9B5A7;
	  margin:3%;
	  }
   
  </style>
	 </head>
 <body>
 <h2> Address Book </h2>  
 <h4> Choose Your Option </h4>
 <ol>
	 <li><a href="/add">Add Contact</a><br><br></li>
     <li><a href ="/view">Show All Contacts</a><br><br></li>
	  <li><a href="/delete">Delete Contacts</a><br><br></li>
  </ol>
	 
 </body>
 </html>  